<div class="register-container">
  <h1>Register</h1>
  <button type="button" routerLink="/login">Login Page</button>

  <form (submit)="onSubmit($event)">
    <input type="email" [formField]="registerForm.email" placeholder="Email" />
    @if (registerForm.email().touched() && registerForm.email().invalid()) {
      <p class="error">{{ registerForm.email().errors()[0].message }}</p>
    }

    <input type="password" [formField]="registerForm.password" placeholder="Password" />
    @if (registerForm.password().touched() && registerForm.password().invalid()) {
      <p class="error">{{ registerForm.password().errors()[0].message }}</p>
    }

    <button type="submit" [disabled]="isLoading() || registerForm().invalid()">Register</button>
  </form>

  <p class="error">{{ errorMessage() }}</p>
</div>
