<div class="brand">Pix Art</div>
<div class="login-container">
  <h1>Login</h1>
  <form (submit)="onSubmit($event)">
    <input type="email" [formField]="loginForm.email" placeholder="Email" />
    <p class="error">
      @if (loginForm.email().touched() && loginForm.email().invalid()) {
        {{ loginForm.email().errors()[0].message }}
      }
    </p>

    <input type="password" [formField]="loginForm.password" placeholder="Password" />
    <p class="error">
      @if (loginForm.password().touched() && loginForm.password().invalid()) {
        {{ loginForm.password().errors()[0].message }}
      }
    </p>

    <button type="submit" [disabled]="isLoading() || loginForm().invalid()">Login</button>
  </form>
  <a routerLink="/register">Don't have an account? Register</a>
  <p class="error">{{ errorMessage() }}</p>
</div>
