<div class="palette">
  <div
    class="swatch"
    *ngFor="let color of palette"
    [style.background-color]="color"
    [class.selected]="color === selectedColor()"
    (click)="selectColor(color)"
  ></div>
</div>

<div class="grid">
  <div class="row" *ngFor="let row of grid; let rowIndex = index">
    <div
      class="pixel"
      *ngFor="let cell of row; let colIndex = index"
      [style.background-color]="cell"
      (click)="onPixelClick(rowIndex, colIndex)"
    ></div>
  </div>
</div>
