<div class="palette">
  @for (color of palette; track color) {
    <div
      class="swatch"
      [style.background-color]="color.hex"
      [class.selected]="color.hex === selectedColor()"
      (click)="selectColor(color.hex)"
      [title]="color.name"
    ></div>
  }
</div>

<div class="grid">
  @for (row of grid(); track $index; let rowIndex = $index) {
    <div class="row">
      @for (cell of row; track $index; let colIndex = $index) {
        <div
          class="pixel"
          [style.background-color]="cell"
          (click)="onPixelClick(rowIndex, colIndex)"
        ></div>
      }
    </div>
  }
</div>
